<div class="contents width-80">
            <h2 class="title">How it works</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="/static/images/recipes.jpg" alt="recipes">
                    <h3>original recipes</h3>
                    <p>Tasty and Nutritious</p>
                </div>
                <div class="flex-item">
                    <img src="/static/images/restaurant.jpg" alt="restaurant">
                    <h3>Your restaurant, delivered</h3>
                    <p>Add your restaurant</p>
                </div>
                <div class="flex-item">
                    <img src="/static/images/delivery.jpg" alt="Delivery">
                    <h3>Delivery</h3>
                    <p>Door to door</p>
                </div>
                <div class="flex-item">
                    <img src="/static/images/eat.jpg" alt="Eat">
                    <h3>Eat</h3>
                    <p>Microwave or Oven, No Cleaning Up</p>
                </div>
            </div> 
        </div>
