
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Gift Card</a></li>
                                <li><a href="#">First Responders</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Help & Support</h3>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Our Menu</h3>
                            <ul>
                                <li><a href="#">All Journeys</a></li>
                                <li><a href="#">Grocery</a></li>
                            </ul>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Copyright © Fall 2021, Noa Yasukagawa, WEB322 ZAA</p>
                </div>
            </footer>
        </div>