
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>akari</title>
    <link rel="stylesheet" href="/static/index.css">
    {{>head}}   
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Spinnaker" />

</head>

<body>

    <header>
        <img src="/images/header.jpeg" alt="header">
    </header>

    <main>
        <div class="header">
            <a href="#home">All Photos</a>
            <div class="header-right">
                <a href="#home">Home</a>
                <a href="#footer">About</a>
            </div>
        </div>

        {{#each images}}
        <div class="wrapper">
            
            <aside class="aside aside-1"><img src="{{img}}" alt="{{title}}"  height="300">
            </aside>

            <article class="main">
                <div class="articleHeader">
                    {{title}}                   
                </div> 
                <div class="articleDesc">           
                <p>{{desc}}</p>
                </div> 
            </article>   
                   
        </div>
        {{/each}}  

        

        <div class="wrapper">
            
            <aside class="aside aside-1"><img src="/images/3.jpeg"  height="300">
            </aside>
            <aside class="aside aside-1"><img src="/images/8.jpeg"  height="300">
            </aside>
            <article class="main">
                <div class="articleHeader">
                    School T-shirt Design for my grade.                   
                </div> 
                <div class="articleDesc">           
                <p>Every year, we have a dance competition for each grade at a sports festival. <br>
                The last grade student can make their own T-shirt which designed ourselves.<br>
                I designed the T-shirt rerated with our dance performance. <br>
                The performance theme was 'Last Summer Ever' instead of Best Summer Ever from the Disney 'Teen Beach Movie'. <br>
                The design made seems like an end roll with classmate names. <br>
                Showing the summer with waves design with our graduation year.<br><br>
                For the front design, I made a school emblem with 5 and 2. <br>
                That are our year of grade which is 52nd of students in the school.<br>
                </p>
                </div> 
            </article>   
                   
        </div>

        <div class="wrapper">


            <aside class="aside aside-1">
                
                <video width="250" controls>
            <source src="/images/4.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video> 
            </aside>



            <article class="main">
                 <div class="articleHeader">
                    Back to the Future Poster (Sport Event Management)                 
                </div> 
                <div class="articleDesc">           
                <p>The poster was for our virtual event which is Back to the Future.<br>
                    The logo should stand out from any others. Plus, that was a virtual event that I made inside the computer. <br>
                    Moreover, I wanted to make a GIF poster which is the only make because of the virtual event.</p>
                </div> 
            </article> 
        </div>

        <div class="wrapper">
            
            <aside class="aside aside-1"><img src="/images/5.jpeg"  height="300">
            </aside>
            <aside class="aside aside-1"><img src="/images/6.jpeg"  height="300">
            </aside>
            <aside class="aside aside-1"><img src="/images/7.jpeg"  height="300">
            </aside>
            <article class="main">
                <div class="articleHeader">
                    Roommate Door Signs                   
                </div> 
                <div class="articleDesc">           
                <p>I have 2 roommates who have many features including their major of studies.<br>
                For me, I wanted to make a sun as my name meaning sky things. My name was written in the Disney font which is my favorite!<br><br>
                Ken: His major is accounting that shows in the volcano. It has Canadian dollar coins and Japanese yen coins that are related to us. <br>
                He loves glitter things that are on a dinosaur's back. His font is from Lilo and Stitch of Disney.  <br><br>
                Noa: Her major is computer programming that is obvious on the rocket with tool marks. She loves some cutie things.<br>
                 I put between gear in that means her energy is programming as gears with cutie things.<br>
                 Those energies are working to move the rocket with fire. She likes cows so I put a cow character on the window.<br>
                  Her font is from Toontown of Disney.
                </p>
                </div> 
            </article>   
                   
        </div>

        <footer id="footer">
            <section class="primary">
                <div class="flex">
                    <div class="left">
                        <p class="logo">Comment me</p><br><br>

                        <ul class="sns-navi">
                            <li><a target="_blank" href="https://www.linkedin.com/in/akarihase0901/"><img src="/images/linkedin.png" alt="" height="30px" width="30px"></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/ari_plates.byakari/"><img src="/images/instagram.png" alt="" height="30px" width="30px"></a></li>
                        </ul>
                        {{>signup}}
                    </div>

                    <div class="right">
                        <div class="navi-section">
                            <img src="/images/icon.jpeg"
                                alt="Avatar" class="footer-avatar">
                        </div>
                        
                            <div class="myself">
                                Akari Hase<br><br>
                                長谷　あかり<br><br><br>
                           
                                <div class="about-myself">Hello to all visitors!<br>
                                    Thank you all for visiting my gallery page.<br>
                                    My hobbies are physical crafts and digital design.<br> 
                                    I like creating things that make people smile. <br>
                                    With this site I hope to show you a peek into my brain.<br>
                                     How many features can you find?Please let me know! Thank you for your time!<br>
                                </div>
                         </div>
                    </div>
                </div>
            </section>
        </footer>
    </main>
</body>

</html>